name: Build and Push to ECR

on:
  push:
    branches:
      - develop
      - main

permissions:
  id-token: write
  contents: read

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Configure AWS credentials (OIDC)
        uses: aws-actions/configure-aws-credentials@v4
        with:
          role-to-assume: ${{ secrets.AWS_ROLE_ARN }}
          aws-region: ${{ secrets.AWS_REGION }}

      - name: Login to ECR
        uses: aws-actions/amazon-ecr-login@v2

      - name: Build Backend
        run: |
          docker build -t youtube-backend ./backend
          docker tag youtube-backend:latest ${{ steps.login-ecr.outputs.registry }}/youtube-backend:latest

      - name: Build Frontend
        run: |
          docker build -t youtube-frontend ./frontend
          docker tag youtube-frontend:latest ${{ steps.login-ecr.outputs.registry }}/youtube-frontend:latest

      - name: Push Backend
        run: docker push ${{ steps.login-ecr.outputs.registry }}/youtube-backend:latest

      - name: Push Frontend
        run: docker push ${{ steps.login-ecr.outputs.registry }}/youtube-frontend:latest
